<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Authority" value="https://identify.example.com/runtime/oauth2" />
    <add key="ClientId" value="[Your App Client Id]" />
    <add key="CertificatePath" value="[Path to your certificate]" />
    <add key="CertificatePassword" value="[Certificate password]" />
    <add key="ApiEndpoint" value="https://localhost:7102/HelloWorld"/>
    <add key="UseDpop" value="True"/>
    <add key="DpopAlg" value="PS384"/> <!-- Supported: RS256, RS384, RS512, PS256, PS384, PS512 -->
    <add key="DpopMethod" value="POST"/>
  </appSettings>
</configuration>