<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="Authority" value="https://dev.safewhere.local/runtime/oauth2" />
	<add key="ClientId" value="clientId_5rdNP3g+Q0WW0pAh1Gag" />
	<add key="CertificatePath" value="C:\certs\OCES III\oces3_-test-_systemcertifikat.p12" />
	<add key="CertificatePassword" value="c5,PnmF8;m4I" />
    <add key="ApiEndpoint" value="https://localhost:7102/HelloWorld"/>
    <add key="UseDpop" value="True"/>
    <add key="DpopAlg" value="PS384"/> <!-- Supported: RS256, RS384, RS512, PS256, PS384, PS512 -->
    <add key="DpopMethod" value="POST"/>
    <add key="UseHttpSignatures" value="True"/>
  </appSettings>
</configuration>