<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Authority" value="https://identify.example.com/runtime/oauth2" />
    <add key="ClientId" value="[Your App Client Id]" />
    <add key="CertificatePath" value="[Path to your certificate]" />
    <add key="CertificatePassword" value="[Certificate password]" />
    <add key="ApiEndpoint" value="https://localhost:7102/HelloWorld"/>
  </appSettings>
</configuration>