@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>An Asp.Net core 2.0 web application that uses OpenId Connect middleware to connect to Identify.</p>
