<ul class="nav navbar-nav navbar-right">
    <li class="navbar-text">
        Hello, @User.Identity.Name!
    </li>

    <li>@ViewData["IdToken"]</li>
    <li>@ViewData["Error"]</li>
    <li>@ViewData["ErrorDescription"]</li>
</ul>
