<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor"/>
  </configSections>
  <appSettings>
    <add key="IdentifyOauth2:Authority" value="https://develop.safewhere.local/runtime/oauth2/"/>
    <add key="IdentifyOauth2:ClientId" value="hybrid_id"/>
    <add key="IdentifyOauth2:ClientSecret" value="hybrid_secret"/>
    <add key="IdentifyOauth2:ResponseType" value="code id_token"/>
    <add key="IdentifyOauth2:Scope" value="openid read offline_access"/>
    <add key="IdentifyOauth2:RedirectUri" value="http://localhost:56765/oidc"/>
    <add key="IdentifyOauth2:PostLogoutRedirectUri" value="http://localhost:56765/"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>

    <switches>
      <add name="Microsoft.Owin" value="Verbose"/>
    </switches>
  </system.diagnostics>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="Nancy.MSOwinSecurity"/>
    </assemblies>

    <namespaces>
      <add namespace="System.Security.Claims"/>
      <add namespace="Nancy.ViewEngines.Razor"/>
    </namespaces>
  </razor>
</configuration>
