<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="IssuerDomain" value="https://develop.safewhere.local/" />
    <add key="ClientId" value="wpfnativeclient" />
    <add key="ClientSecret" value="aaaaaa" />
    <add key="ResourceUri" value="uri:resourceuri" />
    <add key="Scope" value="openid" />
    <add key="Port" value="44038" />
    <add key="RedirectUri" value="http://127.0.0.1" />
    <add key="ClaimsIssuer" value="https://uatgdpr.safewhere.local/runtime/" />
    <add key="IssuerSigningKey" value="MIIDQTCCAimgAwIBAgIQu+BgECyw8qdARD3EfWO8iDANBgkqhkiG9w0BAQsFADAhMR8wHQYDVQQD
ExZ1YXRnZHByLTYyZjkzMCBTaWduaW5nMB4XDTE4MDYxMzE3MDAwMFoXDTI2MDYxMzE2NTk1OVow
ITEfMB0GA1UEAxMWdWF0Z2Rwci02MmY5MzAgU2lnbmluZzCCASIwDQYJKoZIhvcNAQEBBQADggEP
ADCCAQoCggEBAJ8sJVM+TtVW4r1oOs6urDQERsD0CmFEV8A6UaDIV3xyMrb2+DBIieSSULD8Hrql
u0Ze4LrxLPOVk5BgI/qFbfYdzZD4yaFtSSIJJn81TixIOeWIBorT5GGRnre6D1YcsA/hGuH5asR7
Ex/92y86Pv34RuEWcP78SAY3Y6YaWaF+tqrxxASS1+Z7R1+Vwx+iOqPi92rYT8AL1pcm3I9ZxymF
+M6x/lzKOS4J0V14MAfsHsrf6DHnQyw0rBBpMrR8uJTMuCoPpGgxKdE3/HgLcpnJEe9Gj6V5fGMj
EpNHpGH3ZZRkOtAnQgppPAPFjnO5PkHJyqjIU1jMqsJavq05lCsCAwEAAaN1MHMwHQYDVR0lBBYw
FAYIKwYBBQUHAwEGCCsGAQUFBwMCMFIGA1UdAQRLMEmAEJrJ56wqzjxijYc97LVutu+hIzAhMR8w
HQYDVQQDExZ1YXRnZHByLTYyZjkzMCBTaWduaW5nghC74GAQLLDyp0BEPcR9Y7yIMA0GCSqGSIb3
DQEBCwUAA4IBAQBLbZs+MK+AQHX4vGhPwUWSoDN6GYQ+ed+/O8/soxRz+PexlJreK9joNugX6GIx
7bH8kDSoDXNkLf49z5R93orhJ8b/dVTZZhUI7NbreUsMdlwtfYQYxVVFyvpJ5rFGK5oGwHt7IZKL
/aJT6mDI/gl9wfk/4tml62WsOvka0INJGrx80lZIlJHw3N6SRnFugQS6/0/7oBGWPpFnfqKS5gt8
Rgo3kCyPdBdi5p0kxCvzlL72U/UDc+HRUimfqyXOoNOy5erVlIVOoLGVhA8KrQ4wOsRu3U2Xjwjm
gj2g1OdO0yc3Qhr5pkMyq+zIhxWh+h+OBnkahQbSgS8oV8ZrXLcb" />
  </appSettings>
</configuration>
