@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Safewhere A/S<br />
    Virumgaardsvej 17B<br />
    2830 Virum, Denmark<br />
    <abbr title="Phone">P:</abbr>
    (+45) 71 99 90 07
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@safewhere.com">info@safewhere.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@safewhere.com">info@safewhere.com</a>
</address>
