@{
    ViewBag.Title = "Hybrid Page";
}
@section featured {
    <script src="../Scripts/jquery-3.3.1.js"></script>
    <script src="../Scripts/oauth2client.js"></script>
    <div class="page-header">
        <h1>OAuth2 Client Sample</h1>
    </div>
}

<div class="round">
    <div>
        <h4>Hybrid flow result from authorization endpoint</h4>
    </div>
    <div id="authorizationRequestResult">
    </div>
    <div>
        <h4>Hybrid flow result from token endpoint</h4>
    </div>
    <div id="tokenRequestResult">

    </div>
    <br />

    <div>
        <script>
            $(function () {
                var params = {},
                    queryString = location.hash.substring(1),
                    regex = /([^&=]+)=([^&]*)/g,
                    m;
                while (m = regex.exec(queryString)) {
                    params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                }

                if (params.error) {
                    log("#authorizationRequestResult", "errorId", "error: ", params.error);
                    log("#authorizationRequestResult", "errorDescriptionId", "error description: ", params.error_description);
                    return;
                }
                var code = params.code;
                log("#authorizationRequestResult", "codeid","Code Obtained: ", code);

                var idtoken = params.id_token;
                log("#authorizationRequestResult", "idtokenid","Id Token Obtained: ", idtoken);

                var token = params.access_token;
                log("#authorizationRequestResult", "accesstokenid","Access Token Obtained: ", token);

                GetToken(code, '@ViewBag.ClientId', '@ViewBag.ReturnUrl');
            });

        </script>
    </div>
</div>
