@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="page-header">
          <h1>OAuth2 Client Sample</h1>
        </div>
    
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Hybrid flow</h5>
        <a href="@ViewBag.AuthorizeUrl">Start hybrid handshake</a>
    </li>
</ol>
