@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="page-header">
          <h1>OAuth2 Client Sample</h1>
        </div>
    
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Code flow</h5>
        <a href="@ViewBag.CodeFlowAuthorizeUrl">Start code flow handshake</a>
    </li>
    <li class="one">
        <h5>Implicit flow</h5>
        <a href="@ViewBag.ImplicitFlowAuthorizeUrl">Start implicit handshake</a>
    </li>
    <li class="one">
        <h5>Hybrid flow</h5>
        <a href="@ViewBag.HybridAuthorizeUrl">Start hybrid handshake</a>
    </li>
</ol>
